<app-header></app-header>
<div class="concert-list">
  <section id="concerts" class="py-12 bg-white">
    <div class="container mx-auto px-4">

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div *ngFor="let concert of concerts" class="ticket-card bg-white rounded-lg shadow-md overflow-hidden">
          <div class="relative">
            <img [src]="concert.imageUrl" class="w-full h-full object-cover rounded-full">

          </div>
          <div class="p-4">
            <h3 class="text-xl font-bold text-gray-800">{{ concert.artiste?.nom }}</h3>
            <h3 class="text-xl font-bold text-gray-800">{{ concert.libelle}}</h3>
            <p class="text-gray-600 mb-2"><i class="fas fa-calendar-alt mr-2 text-purple-600"></i>{{ concert.date | date: 'short' }}</p>
            <p class="text-gray-600 mb-4"><i class="fas fa-map-marker-alt mr-2 text-purple-600"></i>{{ concert.lieu }}</p>
            <div class="flex justify-between items-center">
              <span class="text-lg font-bold text-purple-600"> {{ concert.prix }}€</span>

          </div>
        </div>
      </div>
      </div>


    </div>
  </section>



</div>
<app-footer></app-footer>
